<!DOCTYPE html>
<html>
   <body>
      <style>
         table, th, td {
         border: 1px solid black;
         border-collapse: collapse;
         }
         th, td {
         padding: 15px;
         text-align: left;
         }
      </style>
      <h2>MOVIE RECOMMENDATIONS FOR YOU</h2>
      <table style="width:100%">
         <tr>
            <td style="font-size:25px" width="20%"><a href="https://www.imdb.com/title/{{dic2.0}}/"> {{dic.0}}</a><br>
               <br><img src="http://img.omdbapi.com/?i={{dic2.0}}&apikey=1a317d5" >
            </td>
            <td style="font-size:25px" width="20%"><a href="https://www.imdb.com/title/{{dic2.1}}/"> {{dic.1}}</a><br>
               <br><img src="http://img.omdbapi.com/?i={{dic2.1}}&apikey=1a317d5" >
            </td>
            <td style="font-size:25px" width="20%"><a href="https://www.imdb.com/title/{{dic2.2}}/"> {{dic.2}}</a><br>
               <br><img src="http://img.omdbapi.com/?i={{dic2.2}}&apikey=1a317d5" >
            </td >
            <td style="font-size:25px" width="20%"><a href="https://www.imdb.com/title/{{dic2.3}}/"> {{dic.3}}</a><br>
              <br> <img src="http://img.omdbapi.com/?i={{dic2.3}}&apikey=1a317d5" >
            </td>
            <td style="font-size:25px" width="20%"><a href="https://www.imdb.com/title/{{dic2.4}}/"> {{dic.4}}</a><br>
              <br> <img src="http://img.omdbapi.com/?i={{dic2.4}}&apikey=1a317d5" >
            </td>
         </tr>
         <tr>
            <td style="font-size:25px"><a href="https://www.imdb.com/title/{{dic2.5}}/"> {{dic.5}}</a><br>
               <br><img src="http://img.omdbapi.com/?i={{dic2.5}}&apikey=1a317d5" >
            </td>
            <td style="font-size:25px"><a href="https://www.imdb.com/title/{{dic2.6}}/"> {{dic.6}}</a><br>
              <br> <img src="http://img.omdbapi.com/?i={{dic2.6}}&apikey=1a317d5" >
            </td>
            <td style="font-size:25px"><a href="https://www.imdb.com/title/{{dic2.7}}/"> {{dic.7}}</a><br>
              <br> <img src="http://img.omdbapi.com/?i={{dic2.7}}&apikey=1a317d5" >
            </td>
            <td style="font-size:25px"><a href="https://www.imdb.com/title/{{dic2.8}}/"> {{dic.8}}</a><br>
               <br><img src="http://img.omdbapi.com/?i={{dic2.8}}&apikey=1a317d5" >
            </td>
            <td style="font-size:25px"><a href="https://www.imdb.com/title/{{dic2.9}}/"> {{dic.9}}</a><br>
               <br><img src="http://img.omdbapi.com/?i={{dic2.9}}&apikey=1a317d5" >
            </td>
         </tr>
      </table>
      <br>
   </body>
</html>